<div style="text-align: center;">
    <span style="font-family: 'Arial Black', Gadget, sans-serif; color: #2c3e50; font-size: 32px; text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);">Introduction to AI Programming</span>
</div>

<div style="text-align: center;">
    <span style="font-family: 'Georgia', serif; color: #8e44ad; font-size: 28px;">Python Introduction, Installation</span>
</div>

___________

<div
    style="
        margin: 50px auto;
        padding: 30px 20px;
        border: 2px solid #333;
        border-radius: 15px;
        background: #ffffff;
        max-width: 700px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        text-align: center;
    "
>
    <h1
        style="
            font-family: 'Times New Roman', serif;
            font-size: 28px;
            color: #2c3e50;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1.5px;
        "
    >
        Course Title
    </h1>
    <h2
        style="
            font-family: 'Times New Roman', serif;
            font-size: 24px;
            color: #34495e;
            margin-top: 10px;
        "
    >
        Introduction To AI Programming
    </h2>
</div


### üìã <span style="color: #34495e;">Lab Information</span>

- **Lab No.**: <span style="color: #e74c3c;">6</span>
- **Lab Title**: <span style="color: #2980b9;">List and Tuple</span>

### üôã‚Äç‚ôÇÔ∏è <span style="color: #34495e;">Submitted By</span>

- **Name**: <span style="color: #2980b9;">Aizaz Ali</span>
- **Roll No.**: <span style="color: #e74c3c;">24JZELE0558</span>
- **Section**: <span style="color: #16a085;">B</span>

---

## Scenario: Inventory system
A small shop keeps a list of product names: ["pencil", "notebook", "eraser", "marker"].
1.	Add two new products at the end.
2.	Insert a product at position 2.
3.	Explain why a list is appropriate here.

___________

In [1]:
small_shop=["pencil", "notebook", "eraser", "marker"]

`1.	Add two new products at the end.`

In [2]:
small_shop.extend(['A4 Size Paper','Whitener'])

In [3]:
small_shop

['pencil', 'notebook', 'eraser', 'marker', 'A4 Size Paper', 'Whitener']

______________

`2.	Insert a product at position 2.`

In [4]:
small_shop.insert(2,'pin')

In [5]:
small_shop

['pencil', 'notebook', 'pin', 'eraser', 'marker', 'A4 Size Paper', 'Whitener']

____________

`3.	Explain why a list is appropriate here.`

list are apporaparate in this scienario. we change the list where we want to change because list is mutable. so we use list in this scienario.

___________

___

## Data slicing & indexing

In [16]:
temps = [23, 25, 19, 30, 21, 22]

1.	Access the first, last, and second-to-last items.

In [17]:
print(temps[0])
print(temps[5])
print(temps[4])

23
22
21

2.	Slice the list to get the middle four values.

In [19]:
print(temps[1:5])

[25, 19, 30, 21]

3.	Using negative indexing, get the item ‚Äú21‚Äù.

In [21]:
print(temps[-2])

21

____________

## Task: Nested lists and heterogeneous data
Create a list representing three students: each student is itself a list containing [name, roll_number, grades_list]. Example: ["Ali", 101, [80, 90, 85]].

1.	Build for 3 students.

In [23]:
Student_data=[
    ['Aizaz Ali',101,[99,91,92]],
    ['Abdur Rahman',102,[90,91,91]],
    ['Mughees',103,[90,89,87]]
]

2.	Change one student‚Äôs second grade.

In [24]:
Student_data[1][2][1]=99
Student_data

[['Aizaz Ali', 101, [99, 91, 92]],
 ['Abdur Rahman', 102, [90, 99, 91]],
 ['Mughees', 103, [90, 89, 87]]]

3.	Add a fourth grade to one student‚Äôs grades_list.

In [25]:
Student_data[2][2].append(86)
Student_data

[['Aizaz Ali', 101, [99, 91, 92]],
 ['Abdur Rahman', 102, [90, 99, 91]],
 ['Mughees', 103, [90, 89, 87, 86]]]

______________

## Task: List mutator methods
Given: colours = ["red", "green", "blue"]

In [35]:
colours = ["red", "green", "blue"]

1.	Use .append() to add ‚Äúyellow‚Äù.

In [36]:
colours.append('Yellow')
colours

['red', 'green', 'blue', 'Yellow']

2.	Use .extend() to add ["purple", "orange"].

In [37]:
colours.extend(['Purple','Orange'])
colours

['red', 'green', 'blue', 'Yellow', 'Purple', 'Orange']

3.	Use .insert() to insert ‚Äúblack‚Äù at index‚ÄØ1.

In [38]:
colours.insert(1,'black')
colours

['red', 'black', 'green', 'blue', 'Yellow', 'Purple', 'Orange']

4.	Use .remove() to remove ‚Äúgreen‚Äù.

In [39]:
colours.remove('green')
colours

['red', 'black', 'blue', 'Yellow', 'Purple', 'Orange']

5.	Use .pop() to remove the last item and print it.

In [40]:
colours.pop()

'Orange'

6.	Print the final list.

In [41]:
colours

['red', 'black', 'blue', 'Yellow', 'Purple']

_______________

## Task: Using operators and built-in functions
Let numbers = [5, 10, 15, 20].

In [2]:
Numbers= [5,10,15,20]

1.	Use the in operator to check if 15 is in the list.

In [3]:
15 in Numbers

True

2.	Use + to concatenate [25, 30] to numbers.

In [6]:
new_list=Numbers+[25,30]
new_list

[5, 10, 15, 20, 25, 30]

3.	Use *2 to produce a new list repeating numbers twice.

In [7]:
New_number_list= Numbers*2
New_number_list

[5, 10, 15, 20, 5, 10, 15, 20]

4.	Use len(), min(), max(), and sum() on numbers.

In [8]:
len(Numbers)

4

In [9]:
min(Numbers)

5

In [10]:
max(Numbers)

20

In [11]:
sum(Numbers)

50

_______________________

## Task: List comprehensions & conversion
You have a tuple: values = (2, 4, 6, 8, 10).

In [ ]:
values = (2, 4, 6, 8, 10)

1.	Convert the tuple to a list.

In [13]:
list(values)

[2, 4, 6, 8, 10]

2.	Then use a list comprehension to produce a list where each value is squared.

In [17]:
square_value=[V**2 for V in values]

In [18]:
square_value

[4, 16, 36, 64, 100]

3.	Filter this to include squared values greater than 30.

In [21]:
Filter_value=[V for V in square_value if V>30]

4.	Print the resulting list.

In [22]:
Filter_value

[36, 64, 100]

_______________

## Tuple Tasks
1.	Scenario: Fixed configuration
You store configuration data for a device: device = ("device01", "192.168.1.10", 8080, True)

In [23]:
device = ("device01", "192.168.1.10", 8080, True)

1.	Access each element by index.

In [24]:
device[0]

'device01'

In [25]:
device[1]

'192.168.1.10'

In [26]:
device[2]

8080

In [27]:
device[3]

True

2.	Attempt to change the port value (8080) to 9090; catch the error and explain why it happens.

In [28]:
device[2]=9090

TypeError: 'tuple' object does not support item assignment

Type error: say tuple does not support item assignment: tuple are immutable and one it make then it does not change.

3.	Convert the tuple into a list, modify the port to 9090, then convert back into a tuple.

In [31]:
Divice_list=list(device)

In [33]:
Divice_list[2]=9090
Divice_list

['device01', '192.168.1.10', 9090, True]

_______________

## Task: Creating tuples & single element tuple nuance

1.	Create a tuple single = (5,).

In [34]:
Single_Tuple=(5,)

2.	Create not_tuple = (5) and show its type.

In [35]:
Not_tuple=(5)

In [36]:
type(Not_tuple)

int

3.	Create t = tuple(range(5)).

In [37]:
t = tuple(range(5))

4.	Print t.

In [38]:
t

(0, 1, 2, 3, 4)

__________________

## Task: Indexing, slicing, negative indices
Let weekdays = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun").

In [39]:
weekdays = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")

1.	Access the first and last day.

In [40]:
weekdays[0]

'Mon'

In [41]:
weekdays[6]

'Sun'

2.	Use slicing to get "Wed", "Thu", "Fri".

In [42]:
weekdays[2:5]

('Wed', 'Thu', 'Fri')

3.	Use negative indexing to get ‚ÄúSat‚Äù.

In [43]:
weekdays[-2]

'Sat'

_____________________

## Task: Nested tuples & mixing
Create a tuple: data = ("UserA", (2023, 9, 15), ["task1", "task2"]).

In [58]:
data = ("UserA", (2023, 9, 15), ["task1", "task2"])

1.	Access the date tuple and print year, month, day.

In [59]:
data[1]

(2023, 9, 15)

2.	Access the list of tasks and add a task to it. Explain how a mutable item in an immutable tuple can be modified.

In [60]:
Task=data[2]

In [61]:
Task.append('task3')
Task

['task1', 'task2', 'task3']

when we modifie the mutable item with in immutable tuple: first we assing index to a variable e.g. 'a,b,etc' then apply the append method to the variable.

_____________

## Task: Packing & unpacking
Given: point = (10, 20, 30)

In [69]:
point = (10, 20, 30)

1.	Unpack into x, y, z.

In [70]:
x,y,z=point

2.	Swap x and z in one line using tuple unpacking.

In [73]:
x,z=z,x

3.	Pack x, y, z back into a tuple point2.

In [74]:
point_2= x,y,z

4.	Print both point and point2.

In [75]:
print(point)
print(point_2)

(10, 20, 30)
(30, 20, 10)

_____________

## Scenario: Choosing tuple vs list
You need to store the months of the year as a fixed sequence.

1.	Define months as a tuple.
2.	Explain in comments why tuple is better than list here.

In [83]:
months=(1,2,3,4,5,6,7,8,9,10,11,12)# the tuple is better then list in this example because the month of the year does not change.

3.	Try to append a month and show the error.

In [84]:
months.append(13)

AttributeError: 'tuple' object has no attribute 'append'

4.	Convert to list if you really needed to change it.

In [85]:
list_months=list(months)

In [86]:
list_months.append(13)
list_months

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

___________________

## Task: Operators & built in functions with tuples
Let nums = (3, 6, 9, 12)

In [7]:
nums = (3, 6, 9, 12)

1.	Use in and not in to test membership.

In [8]:
3 in nums

True

In [9]:
9 not in nums

False

In [10]:
13 not in nums

True

2.	Concatenate nums + (15, 18).

In [11]:
nums + (15,18)

(3, 6, 9, 12, 15, 18)

3.	Multiply nums * 3.

In [93]:
nums*3

(3, 6, 9, 12, 3, 6, 9, 12, 3, 6, 9, 12)

4.	Use len(), min(), max(), sum() on the tuple.

In [94]:
len(nums)

4

In [95]:
min(nums)

3

In [96]:
max(nums)

12

In [97]:
sum(nums)

30

_______________________________________